// 👨‍🎨 Here master painter 👋 Define monochrome colors used in the project

$mono-50    :#fafafa;
$mono-100   :#f5f5f5;
$mono-200   :#e5e5e5;
$mono-300   :#d4d4d4;
$mono-400   :#a3a3a3;
$mono-500   :#737373;
$mono-600   :#525252;
$mono-700   :#404040;
$mono-800   :#262626;
$mono-900   :#171717;
$mono-950   :#0a0a0a;

$peach-primary          :#f8ad9d;
$peach-secondary        :#f4978e;
$peach-tertiary         :#f08080;

$green-primary          :#d8f3dc;
$green-secondary        :#b7e4c7;
$green-tertiary         :#95d5b2;

$blue-primary           :#a9d6e5;
$blue-secondary         :#89c2d9;
$blue-tertiary          :#61a5c2;

$yellow-primary         :#ffc971;
$yellow-secondary       :#ffb627;
$yellow-tertiary        :#ff9505;

$red-primary            :#ad2831;
$red-secondary          :#800e13;
$red-tertiary           :#640d14;

$pink-primary           :#fdc5f5;
$pink-secondary         :#f7aef8;
$pink-tertiary          :#b388eb;