@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.buttonHome {
    position            : relative;
    display             : flex;
    gap                 : 0.5rem;
    align-items         : baseline;

    & > h1 {
        font-size       : fonts_size.$font-2xl;
        font-weight     : fonts_weight.$weight-xl;
    }

    & > p {
        font-size       : fonts_size.$font-base;
        font-weight     : fonts_weight.$weight-base;
    }

    & > a {
        position        : absolute;
        inset           : 0px;
        color           : transparent;
        opacity         : 0;
        cursor          : pointer;
    }
}