@use "../utils/utils_colors.scss" as utils_colors;
@use "../fonts/fonts_weight.scss" as fonts_weight;
@use "../fonts/fonts_size.scss" as fonts_size;

.buttonKbd {
    padding: 0px 4px;
    border-radius: 4px;
    background-color: utils_colors.$mono-800;
    color: utils_colors.$mono-50;
    
    & > :first-child, & > :last-child { 
        font-family: sans-serif;
        line-height: 18px;
        font-size: fonts_size.$font-xs;
        font-weight: fonts_weight.$weight-base;
    }

     & > :last-child { 
        padding: 1px;
    }
}