@use '../fonts/fonts_family.scss' as fonts_family;
@use '../utils/utils_colors.scss' as utils_colors;
@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.buttonClose {
    display                 : flex;
    align-items             : center;
    gap                     : 0.5rem;
    padding                 : 4px;
    border-radius           : 2px;
    background-color        : utils_colors.$mono-800;
    @include                fonts_family.font-primary(fonts_size.$font-2xs, fonts_weight.$weight-base, utils_colors.$mono-50);
    cursor                  : pointer;
}