@use '../fonts/fonts_family.scss' as fonts_family;
@use '../utils/utils_colors.scss' as utils_colors;
@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.buttonCrud {
    display             : flex;
    gap                 : 0.5rem;
    justify-content     : space-between;
    align-items         : center;
    width               : 100%;
    padding             : 8px 8px 8px 16px;
    border-radius       : 2px;
    background-color    : utils_colors.$mono-800;
    
    & > button {
        display             : flex;
        gap                 : 10px;
        align-items         : center;
        @include            fonts_family.font-primary(fonts_size.$font-base, fonts_weight.$weight-base, utils_colors.$mono-50);
        cursor              : pointer;
        & > span {
            display             : inline-block;
            width               : 4px;
            height              : 4px;
            border-radius       : 2px;
            background-color    : utils_colors.$mono-50;
            color               : transparent;
            transform           : rotate(45deg)
        }
    }
}