@use '../fonts/fonts_family.scss' as fonts_family;
@use '../utils/utils_colors.scss' as utils_colors;
@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.buttonCrud {
    display             : flex;
    gap                 : 0.5rem;
    align-items         : center;
    width               : 100%;
    padding             : 0.5rem 2rem 0.5rem 1rem;
    border-radius       : 2px;
    background-color    : utils_colors.$mono-300;
    @include            fonts_family.font-primary(fonts_size.$font-base, fonts_weight.$weight-md, utils_colors.$mono-800);
    transition          : background-color 0.25s ease;
    cursor              : pointer;

    & > :nth-child(1) {
        display             : inline-block;
        width               : 4px;
        height              : 4px;
        background-color    : utils_colors.$mono-800;
        color               : transparent;
        transform           : rotate(45deg)
    }

    & > img {
        width               : 14px;
        height              : 14px
    }
}

.buttonCrud:hover {
    background-color        : utils_colors.$mono-50;
}