@use '../utils/utils_colors.scss' as utils_colors;
@use '../fonts/fonts_weight.scss' as fonts_weight;

.taskItem {
    width                   : 100%; 
    max-height              : 36px;
    line-height             : 16px;
    padding                 : 8px 1rem;
    border-radius           : 2px;
    border                  : 2px solid transparent;
    background-color        : utils_colors.$mono-800;
    text-overflow           : ellipsis;
    color                   : utils_colors.$mono-50;
    font-weight             : fonts_weight.$weight-base;
    overflow                : hidden;
    white-space             : nowrap;
    transition              : all 0.2s ease;

    &:hover { 
        max-height              : 100vh;
        line-height             : 32px;
        text-overflow           : clip;
        overflow                : visible;
        white-space             : normal;
    }
}

.taskItem__isOpen {
    border-color                : utils_colors.$mono-800;
    background-color            : utils_colors.$mono-50;
    color                       : utils_colors.$mono-600;
}