.homePage {
    display             : flex;
    flex-direction      : column;
    flex                : 1;
    padding             : 16px 64px 64px 64px;

    & > nav {
        display                 : grid;
        flex                    : 1;
        grid-template-rows      : 1fr 1fr;

        & > :first-child { 
            display             : flex;
            justify-content     : space-between;
            align-items         : flex-end;
        }

        & > :last-child { 
            display             : flex;
            justify-content     : center;
            padding-bottom      : 4rem;
        }
    }
}