@use '../utils/utils_colors.scss' as utils_colors;
@use '../fonts/fonts_family.scss' as fonts_family;
@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.formAddTask {
    position                : relative;
    display                 : flex;
    justify-content         : center;
    gap                     : 1rem;
    width                   : 100%;
    height                  : 3rem;

    & > label {
        position            : absolute;
        inset               : 0px;
        width               : 60%;
        margin              : auto;
        color               : transparent;
        opacity             : 0;
        cursor              : pointer;
    }
    
    & > input {
        width               : 40%;
        height              : 100%;
        padding-left        : 2rem;
        border-bottom       : 2px solid transparent;
        background-color    : utils_colors.$mono-300;
        font-size           : fonts_size.$font-base;
        font-weight         : fonts_weight.$weight-xl;
        transition          : border-bottom 200ms ease-in-out, background-color 200ms ease-in-out;

        &::placeholder {
            color           : utils_colors.$mono-600;
            transition      : color 200ms ease-in-out;
        }
    }

    & > button {
        z-index                 : 1111;
        height                  : 100%;
        padding                 : 0px 2rem;
        font-size               : fonts_size.$font-base;
        font-weight             : fonts_weight.$weight-xl;
        border                  : 2px solid transparent;
        border-radius           : 2px;
        background-color        : utils_colors.$mono-300;
        transition              : border 200ms ease-in-out, background-color 200ms ease-in-out;
    }
}

.formAddTask input:focus,  .formAddTask input:hover { 
    border-bottom               : 2px solid utils_colors.$mono-300;
    background-color            : utils_colors.$mono-50;
    color                       : utils_colors.$mono-900;
}

.formAddTask > button:active,  .formAddTask > button:hover {
    border                      : 2px solid utils_colors.$mono-300;
    background-color            : utils_colors.$mono-50;
}