@use '../utils/utils_colors.scss' as utils_colors;
@use '../utils/utils_shadow.scss' as utils_shadow;
@use '../fonts/fonts_family.scss' as fonts_family;
@use '../fonts/fonts_weight.scss' as fonts_weight;
@use '../fonts/fonts_size.scss' as fonts_size;

.formAddTask {
    position                : relative;
    display                 : flex;
    justify-content         : center;
    gap                     : 1rem;
    width                   : 100%;
    height                  : 3rem;

    & > fieldset {
        position            : relative;
        width               : 40%;
        height              : 100%;
        padding-left        : 2rem;
        cursor              : pointer;
        
        & > label {
            position            : absolute;
            inset               : 0px;
            width               : 100%;
            color               : transparent;
            opacity             : 0;
        }
        
        & > input {
            width               : 100%;
            height              : 100%;
            font-size           : fonts_size.$font-base;
            font-weight         : fonts_weight.$weight-base;
            color               : utils_colors.$mono-800;
    
            &::placeholder {
                color           : utils_colors.$mono-600;
            }
        }
    
        &::after {
            content             : ' ';
            position            : absolute;
            bottom              : 0px;
            left                : 0px;
            width               : 100%;
            height              : 4px;
            border-radius       : 1px;
            background-color    : utils_colors.$mono-800;
            @include            utils_shadow.shadow-btn(utils_colors.$mono-800);
        }
    }

    & > button {
        height                  : 100%;
        padding                 : 0px 2rem;
        font-size               : fonts_size.$font-base;
        font-weight             : fonts_weight.$weight-base;
        color                   : utils_colors.$mono-50;
        border                  : 2px solid transparent;
        border-radius           : 4px;
        background-color        : utils_colors.$mono-800;
        @include                utils_shadow.shadow-btn(utils_colors.$mono-800);
        cursor                  : pointer;
    }
}