@use "../utils/utils_colors.scss" as utils_colors;

.optionsCrudView {
    display             : flex;
    gap                 : 0.5rem;
    flex-direction      : column;

    & > :nth-child(2) {
        border-radius   : 2px;
        border          : 2px solid utils_colors.$mono-300;
    }
}