@use "../utils/utils_colors.scss" as utils_colors;

.taskOptionsView {
    display             : flex;
    gap                 : 4px;
    flex-direction      : column;
    
    & > :nth-child(2) {
        display             : flex;
        gap                 : 2px;
        flex-direction      : column;
        width               : clamp(10rem, 10vw, 14rem);
        border-radius       : 2px;
        border              : 2px solid utils_colors.$mono-800;
        background-color    : utils_colors.$mono-800;
    }
}