// 👨‍🎨 Here master painter 👋 Font weight values 

$weight-2xs     : 100;      // 2× Extra small
$weight-xs      : 200;      // Extra small
$weight-sm      : 300;      // Small
$weight-base    : 400;      // Base
$weight-md      : 500;      // Medium
$weight-lg      : 600;      // Large
$weight-xl      : 700;      // Extra large 
$weight-2xl     : 800;      // 2× Extra large
$weight-3xl     : 900;      // 3× Extra large
$weight-4xl     : 950;      // 4× Extra large