// 👨‍🎨 Here master painter 👋 Define base font sizes for the app

$font-2xs   : 0.625rem;     // 2× Extra small = 10px
$font-xs    : 0.75rem;      // Extra small = 12px
$font-sm    : 0.875rem;     // Small = 14px
$font-base  : 1rem;         // Base = 16px
$font-md    : 1.125rem;     // Medium = 18px
$font-lg    : 1.5rem;       // Large = 24px
$font-xl    : 2rem;         // Extra large = 32px
$font-2xl   : 3rem;         // 2× Extra large = 48px
$font-3xl   : 6rem;         // 3× Extra large = 96px
$font-4xl   : 18rem;        // 4× Extra large = 288px